body {
  font-family: "Andale Mono", monospace;
  text-align: center;
}

.page-title {
  text-align: center;
}

.box {
  width: 480px;
  height: 220px;
  border-radius: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.411);
  padding: 30px 10px 10px 10px;
  font-size: 20px;
  line-height: 1.5;
  margin: 80px auto;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm7shswKpk37G947J49pizCsc3E9RgPvDfXA&usqp=CAU');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}
