body {
  font-family: 'Roboto Mono',monospace;
  background-image: url("https://wallpaperaccess.com/full/5507447.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
  text-align: left;
  background-position: left middle;
  background-size: 300vh
}

.container {
  
}

.question-answer {
  
}

.result-area {

}